<!DOCTYPE html>
<html>
<head>
  <title>Банковские гарантии</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name='viewport' content='width=device-width, user-scalable=no'>
  <style>
</style>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background: rgba(0,0,0, .6)">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-between px-5">
          <li class="nav-item active">
          <a class="nav-link" href="#">О компании</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Пункт меню</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Пункт меню</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Пункт меню</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Пункт меню</a>
          </li>
        </ul>
        </div>
      </nav>
      <!-- <div class="container-fluid h-100"> -->
      <div>
        <div class="canvasWrapper2" style="z-index: 50;">
          <!-- <canvas class="w-100 h-100" id="textCanvas"> -->
          <canvas id="textCanvas"></canvas>
          <div id="helperSlider">
              <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
              <button id="play_btn">play</button>
          </div>
        </div>
        <div class="row h-100 align-items-stretch">
          <div class="col-12">
          </div>
        </div>
      </div>
</body>
</html>
